/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

h1 {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  list-style: none;
}

li {
  padding: 5px;
  color: #ECF0F1;
  background-color: #2C3E50;
  border-radius: 5px;
}

form {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 15%;
}

button {
  size: 50px;
}

.aliveColor {
  color: #2ECC71;
}

.deadColor {
  color: #E74C3C;
}

.unknownColor {
  color: #9c9c9b;
}